@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    background-color: #000000;
  
}
video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: white;
}
h1 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.container{
    color: white;
    margin-left: 20px; 
}
.movie  {
    padding: 50px 0 150px 0;;
}
.row__posterLarge {
    max-height: 350px;
    margin-right: 25px;
}
.row__posterLarge:hover {
    transform: scale(1.09);
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    margin: 0 10px;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
/* Banner */
.background--banner{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background-color: black;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%,rgba(0, 0, 0, .9) 1%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
}
/* Menu */
.menu{
    width: 95%;
    margin-inline:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 15px;
}
.navegacion{
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
@media (min-width:400px) {
    .navegacion{
        gap: 15px;
    }
}
/* Menu izquierda */
.logo{
    width: 90px;
    height: 40px;
}
@media (min-width:768px) {
    .logo{
        width: 110px;
        height: 60px;
    }
}
@media (min-width:992px) {
    .navegacion--izquierda li:nth-child(2){
        display: none;
    }
}
.navegacion--izquierda li:nth-child(3),
.navegacion--izquierda li:nth-child(4),
.navegacion--izquierda li:nth-child(5),
.navegacion--izquierda li:nth-child(6),
.navegacion--izquierda li:nth-child(7){
    display: none;
}
@media (min-width:992px) {
    .navegacion--izquierda li:nth-child(3),
    .navegacion--izquierda li:nth-child(4),
    .navegacion--izquierda li:nth-child(5),
    .navegacion--izquierda li:nth-child(6),
    .navegacion--izquierda li:nth-child(7){
        display: flex;
    }
}
/* Menu derecha */
.navegacion--derecha li:nth-child(1),
.navegacion--derecha li:nth-child(4)
{
    width: 25px;
}
.usuario{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}
.navegacion--derecha li:nth-child(1),
.navegacion--derecha li:nth-child(2),
.navegacion--derecha li:nth-child(3),
.navegacion--derecha li:nth-child(4){
    display: none;
}
@media (min-width:330px) {
    .navegacion--derecha li:nth-child(1),
    .navegacion--derecha li:nth-child(4){
        display: flex;
    }
}
@media (min-width:992px) {
    .navegacion--derecha li:nth-child(2),
    .navegacion--derecha li:nth-child(3){
        display: flex;
    }
}
/* imagotipo */
.imagotipo{
    flex: 1;
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}
.imagotipo--imagen{
    min-width: 500px;
}
.imagotipo--info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.imagotipo--info p{
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.imagotipo--info p:nth-child(1){
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}
.imagotipo--info p:nth-child(2){
    border: 1px solid #6d6d63b3;
    background-color: #6d6d63b3;
    cursor: pointer;
    color: white;
}
.imagotipo--info p:nth-child(1):hover,
.imagotipo--info p:nth-child(2):hover{
    background-color: transparent;
    color: white;
}

